<h4>Nouvelle réservation</h4>
<p>Date d'arrivée: <%= @booking.start_date %></p>
<p>Date de départ: <%= @booking.end_date %></p>
<p>Nombres de nuits: <%= (@booking.end_date.to_date - @booking.start_date.to_date).to_i %></p>
<h5>Utilisateur</h5>
<% if @booking.message %>
<p>Message: <%= @booking.message %></p>
<% else %>
<p>Il n'a pas laissé de message</p>
<% end %>
<p>Message: </p>
<p>Prénom: <%= @user.first_name %></p>
<p>Nom: <%= @user.last_name %></p>
<% if @user.bookings.where(status: "confirmed").count > 1 %>
<p>Il à déjà réservé <%= @user.bookings.where(status: "confirmed").count %> fois</p>
<% else %>
<p>C'est la première réservation qu'il fait!</p>
<% end %>
<% if @user.bookings[(@user.bookings.length - 1)].status == "cancelled" %>
<p>Son dernier booking à été annulé ("Cancelled sur le site")</p>
<% end %>
<a href="www.cap-vauban.com/requests">Page de confirmation</a>
