<h3>Nouvelle réservation</h3>
<p>Date d'arrivée: <%= l(@booking.start_date.to_date) %></p>
<p>Date de départ: <%= l(@booking.end_date.to_date) %></p>
<p>Nombres de nuits: <%= (@booking.end_date.to_date - @booking.start_date.to_date).to_i %></p>
<h4>Utilisateur</h4>
<% if @booking.message != "" %>
<p>Message: <%= @booking.message %></p>
<% else %>
<p>Message: Il n'a pas laissé de message</p>
<% end %>
<p>Prénom: <%= @user.first_name %></p>
<p>Nom: <%= @user.last_name %></p>
<p>@user.email</p>
<% if @user.bookings.where(status: "confirmed").count > 1 %>
<p>Il à déjà réservé <%= @user.bookings.where(status: "confirmed").count %> fois</p>
<% else %>
<p>C'est la première réservation qu'il fait!</p>
<% end %>
<% if @user.bookings.last(2).first.status == "cancelled" %>
<p>Son dernier booking a été annulé ("Cancelled sur le site")</p>
<% end %>
<a href="http://www.cap-vauban.com/requests">Page de confirmation</a>
