<p>Hi <%= @user.first_name %>,</p>

<p>Thank you for booking our apartement "<%= @booking.flat.title %>".</p>

<p>It is available for the requested period for <%= humanized_money_with_symbol(@booking.price_cents) %>, pour <%= @booking.flat.capacity %> persons, inlcuding fees (water + electricity), private garage and high speed internet. Bedlinen and towels are offered.</p>

<p>Our rentings are normaly from Saturday to Saturday, arrival time between 14h30 and 18h00, departure at 10h30. Nevertheless it's possible to change arrival and departure dates and time, depending on availability and a possible additional fee.</p>

<p>To complete your booking, you just have to pay the full amount on our website (on the <a href="http://www.cap-vauban.com/bookings">"My bookings"</a> page and selecting the desired booking). A deposit of 300€ in cash will be asked upon arrival.</p>

<p>The mandatory depature cleaning fee of 50€ will also be asked in cash upon arrival.</p>

<p>If needed we can provide you with a baby cot and a high chair for child younger than 3 years old.</p>

<p>See you soon in Antibes.</p>
<p>Kindest regards,</p>
<p>Françoise &amp; François Littmann</p>

<% if @booking.admin_comment.present? %>
<p>PS: <%= @booking.admin_comment %></p>
<% end %>
