<p>Bonjour <%= @user.first_name %>,</p>

<p>Merci de l'intérêt que vous portez à notre appartement "<%= @booking.flat.title %>".</p>

<p>Il est encore libre à cette période au prix de <%= humanized_money_with_symbol(@booking.price_cents) %>, pour <%= @booking.flat.capacity %> personnes, charges comprises (eau + électricité) avec à disposition un garage fermé avec 2 vélos et internet wifi illimité. Le linge de maison (draps/serviettes) est offert.</p>

<p>Nos locations se font normalement du samedi au samedi, arrivée entre 14h00 et 18h00, départ a 10h00. Il est néanmoins possible d'arriver et de partir d’autres jours de la semaine, ou a d’autres horaires sous réserve de disponibilité et d’un éventuel supplément.</p>

<p>Pour finaliser la réservation il vous suffit de payer le montant de votre réservation sur notre site (en allant dans l'onglet <a href="http://www.cap-vauban.com/bookings">"Mes réservations"</a> et en choisissant la réservation désirée). Une caution de 300€ sera à verser en espèces à l’arrivée.</p>

<p>Le ménage de fin de séjour est facturé 50€ et sera à payer en espèces également à l’arrivée.</p>

<p>Nous pouvons aussi mettre à votre disposition un lit parapluie ainsi qu'une chaise haute pour un enfant de moins de trois ans.</p>

<p>À bientôt à Antibes.</p>
<p>Très cordialement,</p>
<p>Françoise &amp; François Littmann</p>

<% if @booking.admin_comment.present? %>
<p>PS: <%= @booking.admin_comment %></p>
<% end %>
