<div class="container">
  <h1>Edit <%= @flat.title %></h1>
  <%= simple_form_for @flat do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.input :description_english, as: :text %>
  <%= f.input :description_italian, as: :text %>
  <div class="form-inline">
  <%= f.input :capacity, as: :integer %>
  <%= f.input :bathroom, as: :integer %>
  <%= f.input :toilet, as: :integer %>
  </div>
  <div class="form-inline">
  <%= f.input :bedrooms, as: :integer %>
  <%= f.input :beds, as: :integer %>
  </div>
  <%= f.input :banner_photo, as: :attachinary %>
  <%= f.input :carousel_photos, as: :attachinary %>
  <%= f.input :photos, as: :attachinary %>
  <%= f.button :submit %>
  <% end %>
</div>
