<div class="container">
  <h1>Edit <%= @flat.title %></h1>
  <%= simple_form_for @flat do |f| %>
  <%= f.input :address %>
  <%= f.input :description, as: :text, label: "Description in French" %>
  <%= f.input :description_english, as: :text, label: "Description in English" %>
  <%= f.input :description_italian, as: :text, label: "Description in Italian" %>
  <div class="form-inline">
  <%= f.input :capacity, as: :integer %>
  <%= f.input :bathroom, as: :integer %>
  <%= f.input :toilet, as: :integer %>
  </div>
  <div class="form-inline">
  <%= f.input :bedrooms, as: :integer %>
  <%= f.input :beds, as: :integer %>
  </div>
  <%= f.input :banner_photo, as: :attachinary, label: "Photo de présentation (max 1 photo)" %>
  <%= f.input :carousel_photos, as: :attachinary, label: "Photo du carousel (max 3 photos, mais pas inclure la même que la photo de présentation)" %>
  <%= f.input :photos, as: :attachinary, label: "Toutes les photos (avec celle de présentation et carousel, pas de limite)" %>
  <%= f.button :submit %>
  <% end %>
</div>
