<div class="container-fluid text-center" style="background-color: aliceblue; ">
  <div class="flats-instructions">
    <h4><%= t("flats_index.instructions") %></h4>
  </div>
  <div class="cards-container">
    <% @flats.each do |flat| %>
    <div class="card">
      <% if flat.banner_photo %>
      <% image = cl_image_path flat.banner_photo.path, crop: :fill %>
      <% else %>
      <% image = image_path "background.jpg" %>
      <% end %>
      <div class="card-image" style="background-image: url(<%= image %>);">
      </div>
      <div card-content>
        <div class="card-title">
          <h3><%= flat.title %></h3>
        </div>
        <div class="card-info">
          <div class="row">
            <div class="col-xs-3">
              <p><strong><%= t("flats.flat") %>:</strong></p>
            </div>
            <div class="col-xs-4">
              <p><i class="fa fa-bed fa-fw" aria-hidden="true"></i> <%= flat.bedrooms %> <%= t("flats.bedroom") %></p>
              <p><i class="fa fa-bath fa-fw" aria-hidden="true"></i> <%= flat.bathroom %> <%= t("flats.bathroom") %></p>
              <p><i class="fa fa-bath fa-fw" aria-hidden="true"></i> <%= flat.toilet %> <%= t("flats.toilet") %></p>
              <p><i class="fa fa-eye fa-fw" aria-hidden="true"></i> <%= t("flats.balcony") %></p>
            </div>
            <div class="col-xs-4">
              <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> <%= t("flats.kitchen") %></p>
              <p><i class="fa fa-television fa-fw" aria-hidden="true"></i> <%= t("flats.living_room") %></p>
              <p><i class="fa fa-car fa-fw" aria-hidden="true"></i> <%= t("flats.garage") %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <p><strong><%= t("flats.amenities") %>:</strong></p>
            </div>
            <div class="col-xs-4">
              <p><i class="fa fa-wifi fa-fw" aria-hidden="true"></i> <%= t("flats.wifi") %></p>
              <p><i class="fa fa-television fa-fw" aria-hidden="true"></i> <%= t("flats.tv") %></p>
              <p><i class="fa fa-bed fa-fw" aria-hidden="true"></i> <%= flat.beds %> <%= t("flats.beds") %></p>
            </div>
            <div class="col-xs-4">
              <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> <%= t("flats.oven") %></p>
              <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> <%= t("flats.dishwasher") %></p>
              <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> <%= t("flats.fridge") %></p>
            </div>
          </div>
        </div>
        <div>
          <%= link_to t("flats.button"), flat_path(flat), class: "btn btn-primary card-button" %>
        </div>

        <div class="card-date">
          <p><i class="fa fa-users" aria-hidden="true"></i> - <%= t("flats_index.up_to") %> <strong><%= flat.capacity %></strong> <%= t("flats_index.people") %></p>
        </div>
        <%= link_to "", flat_path(flat), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="container calendar-container">
  <div class="flats-instructions">
    <h4><%= t("flats_index.cal_instructions") %></h4>
  </div>
    <div class="calendar" id="calendar">
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
<script>

  $('#calendar').fullCalendar({
    viewRender: function(view,element) {
      var now = new Date();
      var end = new Date();
      end.setMonth(now.getMonth() + 12); //Adjust as needed

      if ( end < view.end) {
        $("#calendar .fc-next-button").hide();
        return false;
      }
      else {
        $("#calendar .fc-next-button").show();
      }

      if ( view.start < now) {
        $("#calendar .fc-prev-button").hide();
        return false;
      }
      else {
        $("#calendar .fc-prev-button").show();
      }
    },
    events: [
    <% @bookings.each do |booking| %>
    {
      title: '<%= t("calendar.booked") %> - <%= booking.flat.title %>',
      start: '<%= booking.start_date %>',
      end: '<%= booking.end_date %>'
    },
    <% end %>
    ],
  });
</script>
<% end %>
