<div class="cards-container">
  <% @flats.each do |flat| %>
  <div class="card">
    <% if flat.banner_photo %>
    <% image = cl_image_path flat.banner_photo.path, crop: :fill %>
    <% else %>
    <% image = image_path "background.jpg" %>
    <% end %>
    <div class="card-image" style="background-image: url(<%= image %>);">
    </div>
    <div class="card-info">
      <p><%= flat.description %></p>
      <ul>
        <li><i class="fa fa-users" aria-hidden="true"></i> <%= flat.capacity %></li>
        <li><i class="fa fa-bath" aria-hidden="true"></i> <%= flat.bathroom %></li>
        <li><i class="fa fa-male" aria-hidden="true"></i><i class="fa fa-female" aria-hidden="true"></i> <%= flat.toilet %></li>
      </ul>
    </div>
    <div class="card-title">
      <h3><%= flat.title %></h3>
    </div>
    <div class="card-date">
      <p>2016</p>
    </div>
    <%= link_to "", flat_path(flat), class: "card-link" %>
  </div>
  <% end %>
</div>

<div class="container" id="calendar">
</div>

<%= content_for(:after_js) do %>
<script>

  $('#calendar').fullCalendar({
    events: [
    <% @bookings.each do |booking| %>
    {
      title: 'Booked - <%= booking.flat.title %>',
      start: '<%= booking.start_date %>',
      end: '<%= booking.end_date %>'
    },
    <% end %>
    ],
  });
</script>
<% end %>
