<div class="container-fluid">
  <div class="row media-body">
    <div class="col-xs-12 col-md-8 col-sm-8">
      <div class="flat-intro">
        <h2><%= @flat.title %></h2>
        <% if @flat.carousel_photos && @flat.banner_photo %>
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <% @flat.carousel_photos.each_with_index do |photo, index| %>
            <li data-target="#carousel" data-slide-to="<%= (index+1) %>"></li>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active carousel-image">
              <%= cl_image_tag @flat.banner_photo.path %>
            </div>
            <% @flat.carousel_photos.each do |photo| %>
            <div class="item carousel-image">
              <%= cl_image_tag photo.path %>
            </div>
            <% end %>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <% end %>
      </div>

      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab"><%= t("flats.tab_description") %></a></li>
          <li role="presentation"><a href="#pictures" role="tab" data-toggle="tab"><%= t("flats.tab_pictures") %></a></li>
          <li role="presentation"><a href="#calendar" role="tab" data-toggle="tab"><%= t("flats.tab_calendar") %></a></li>
          <li role="presentation"><a href="#prices" role="tab" data-toggle="tab"><%= t("flats.tab_prices") %></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="description">
            <div class="media-section">
              <% if I18n.locale == I18n.default_locale %>
              <p><%= @flat.description %></p>
              <% else %>
              <p><%= @flat.description_english %></p>
              <%end%>
              <div class="row">
                <div class="col-sm-3">
                  <p><strong><%= t("flats.flat") %>:</strong></p>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <p><i class="fa fa-bed fa-fw" aria-hidden="true"></i> <%= @flat.bedrooms %> <%= t("flats.bedroom") %></p>
                  <p><i class="fa fa-bath fa-fw" aria-hidden="true"></i> <%= @flat.bathroom %> <%= t("flats.bathroom") %></p>
                  <p><i class="fa fa-bath fa-fw" aria-hidden="true"></i> <%= @flat.toilet %> <%= t("flats.toilet") %></p>
                  <p><i class="fa fa-eye fa-fw" aria-hidden="true"></i> <%= t("flats.balcony") %></p>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> <%= t("flats.kitchen") %></p>
                  <p><i class="fa fa-television fa-fw" aria-hidden="true"></i> <%= t("flats.living_room") %></p>
                  <p><i class="fa fa-car fa-fw" aria-hidden="true"></i> <%= t("flats.garage") %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p><strong><%= t("flats.amenities") %>:</strong></p>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <p><i class="fa fa-wifi fa-fw" aria-hidden="true"></i> <%= t("flats.wifi") %></p>
                  <p><i class="fa fa-television fa-fw" aria-hidden="true"></i> <%= t("flats.tv") %></p>
                  <p><i class="fa fa-bed fa-fw" aria-hidden="true"></i> <%= @flat.beds %> <%= t("flats.beds") %></p>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> <%= t("flats.oven") %></p>
                  <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> <%= t("flats.dishwasher") %></p>
                  <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> <%= t("flats.fridge") %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p><strong><%= t("flats.location") %>:</strong></p>
                </div>
                <div class="col-xs-12 col-sm-9">
                  <p><i class="fa fa-home fa-fw" aria-hidden="true"></i> <%= @flat.address %></p>
                  <p><i class="fa fa-plane fa-fw" aria-hidden="true"></i> 20 <%= t("flats.airport") %></p>
                  <p><i class="fa fa-train fa-fw" aria-hidden="true"></i> 500 <%= t("flats.train_station") %></p>
                  <p><i class="fa fa-sun-o fa-fw" aria-hidden="true"></i> 600 <%= t("flats.beach") %></p>
                  <p><i class="fa fa-beer fa-fw" aria-hidden="true"></i> 100 <%= t("flats.bars") %></p>
                  <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> 50 <%= t("flats.restaurants") %></p>
                </div>
              </div>
              <div id="map" class="hidden-xs" style="width: 100%; height: 450px;"></div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="pictures">
            <div class='gallery'>
              <% @flat.photos.each do |photo| %>
              <div class='photo-card'>
                <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                  <%= cl_image_tag photo.path %>
                </a>
              </div>
              <% end %>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane flat-calendar" id="calendar">
            <h4><%= t("calendar.instructions") %></h4>
            <div class="flat-calendar" id="flat-calendar">
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="prices">
            <div class="flat-prices">
              <h4><%= t("prices.title") %></h4>
              <div class="row pricing-container">
                <div class="col-xs-3">
                  <p><strong><%= t("prices.low") %></strong></p>
                </div>
                <div class="col-xs-4">
                  <p><%= humanized_money_with_symbol(350) %>/<%= t("prices.week") %></p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 07/01/17 - 01/04/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 04/11/17 - 23/12/17</p>
                </div>
              </div>
              <div class="row pricing-container">
                <div class="col-xs-3">
                  <p><strong><%= t("prices.mid") %></strong></p>
                </div>
                <div class="col-xs-4">
                  <p><%= humanized_money_with_symbol(500) %>/<%= t("prices.week") %></p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 31/12/16 - 07/01/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 01/04/17 - 10/06/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 16/09/17 - 04/11/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 23/12/17 - 30/12/17</p>
                </div>
              </div>
              <div class="row pricing-container">
                <div class="col-xs-3">
                  <p><strong><%= t("prices.high_mid") %></strong></p>
                </div>
                <div class="col-xs-4">
                  <p><%= humanized_money_with_symbol(650) %>/<%= t("prices.week") %></p>
                  <p> </p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 10/06/17 - 01/07/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 02/09/17 - 16/09/17</p>
                </div>
              </div>
              <div class="row pricing-container">
                <div class="col-xs-3">
                  <p><strong><%= t("prices.mid_high") %></strong></p>
                </div>
                <div class="col-xs-4">
                  <p> </p>
                  <p><%= humanized_money_with_symbol(800) %>/<%= t("prices.week") %></p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 01/07/17 - 15/07/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 19/08/17 - 02/09/17</p>
                </div>
              </div>
              <div class="row pricing-container">
                <div class="col-xs-3">
                  <p><strong><%= t("prices.high") %></strong></p>
                </div>
                <div class="col-xs-4">
                  <p><%= humanized_money_with_symbol(950) %>/<%= t("prices.week") %></p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 15/07/17 - 19/08/17</p>
                </div>
              </div>
              <p><%= t("prices.saturdays_instructions") %></p>
              <p><%= t("prices.other_instructions") %></p>
              <p><%= t("prices.cleaning_fee") %>: <%= humanized_money_with_symbol(50) %></p>
            </div>
            <% if user_signed_in? && current_user.admin %>
            <%= link_to "Modifier", edit_flat_path(@flat), class: "btn btn-primary" %>
            <% end %>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="booking-action fixed-action hidden-xs hidden-sm">
      <h3><%= t("booking.booking_request") %></h3>
      <% if user_signed_in? %>
      <p><%= t("prices.saturdays_instructions") %></p>
      <p class="booking-extra-info"><i class="fa fa-info-circle"></i> <%= t("prices.other_instructions") %></p>
      <%= simple_form_for [@flat, @flat.bookings.build] do |f| %>
      <div class="text-center">
        <div class="input-daterange input-group" id="datepicker">
          <input required name="booking[start_date]" type="text" class='datepicker input-sm form-control from' placeholder="<%= t("booking.from") %>">
          <span class="input-group-addon"><%= t("booking.to") %></span>
          <input required name="booking[end_date]" type="text" class='datepicker input-sm form-control until' placeholder="<%= t("booking.until") %>">
        </div>
        <div class="booking-message">
          <%= f.input :message, as: :text, label: false, placeholder: t("booking.message") %>
        </div>
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <%= t("booking.book") %>
        <% end %>
        <% end %>
        <% else %>
        <%= link_to t("devise.sign_in"), new_user_session_path, class: "btn btn-primary" %>
        <%= link_to t("devise.sign_up"), new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="booking-action hidden-md hidden-lg">
      <h3><%= t("booking.booking_request") %></h3>
      <% if user_signed_in? %>
      <p><%= t("prices.saturdays_instructions") %></p>
      <p class="booking-extra-info"><i class="fa fa-info-circle"></i> <%= t("prices.other_instructions") %></p>
      <%= simple_form_for [@flat, @flat.bookings.build] do |f| %>
      <div class="text-center">
        <div class="input-daterange input-group" id="datepicker">
          <input required name="booking[start_date]" type="text" class='datepicker input-sm form-control from' placeholder="<%= t("booking.from") %>">
          <span class="input-group-addon"><%= t("booking.to") %></span>
          <input required name="booking[end_date]" type="text" class='datepicker input-sm form-control until' placeholder="<%= t("booking.until") %>">
        </div>
        <div class="booking-message">
          <%= f.input :message, as: :text, label: false, placeholder: t("booking.message") %>
        </div>
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <%= t("booking.book") %>
        <% end %>
        <% end %>
        <% else %>
        <%= link_to t("devise.sign_in"), new_user_session_path, class: "btn btn-primary" %>
        <%= link_to t("devise.sign_up"), new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- MODAL PICTURES -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="carousel-modal" class="carousel slide" data-ride="carousel-modal">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% @flat.photos.each_with_index do |photo, index| %>
            <% if index == 0 %>
            <div class="item active carousel-image">
              <%= cl_image_tag @flat.banner_photo.path %>
            </div>
            <% end %>
            <div class="item carousel-image">
              <%= cl_image_tag photo.path %>
            </div>
            <% end %>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#carousel-modal" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </a>
          <a class="right carousel-control" href="#carousel-modal" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("flat.close") %></button>
      </div>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
<script type="text/javascript">

  $(document).ready(function(){
    var styles = [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}];
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' }, provider: { scrollwheel: false, zoomControl: false, styles: styles } }, function(){
     markers = handler.addMarkers([
     {
      "lat": <%= @flat_lat %>,
      "lng": <%= @flat_lng %>,
      "infowindow": "<h3>Cap Vauban</h3><p><img src='http://res.cloudinary.com/dwiftfzlw/image/upload/c_scale,h_200/v1482018047/lrr86gbib7smuxssmxjg.jpg' height='200'></p>"
    },
    ]);
     handler.bounds.extendWith(markers);
     handler.fitMapToBounds();
     handler.getMap().setZoom(14);
   });

    $('.datepicker.from').datepicker({
      autoclose: true,
      format: "yyyy-mm-dd",
      daysOfWeekDisabled: "0,1,2,3,4,5",
      daysOfWeekHighlighted: "6",
      todayHighlight: true,
      maxViewMode: 2,
      language: "<%= I18n.locale %>",
      datesDisabled: [
      <% @bookings.each do |booking| %>
      '<%= booking.start_date %>',
      <% weeks = (booking.end_date.to_date - booking.start_date.to_date)/7 %>
      <% date = booking.start_date.to_date %>
      <% (weeks.to_i - 1).times do %>
      <% date += 7.day %>
      '<%= date %>',
      <% end %>
      <% end %>
      ]
    });
    $('.datepicker.until').datepicker({
      autoclose: true,
      format: "yyyy-mm-dd",
      daysOfWeekDisabled: "0,1,2,3,4,5",
      daysOfWeekHighlighted: "6",
      todayHighlight: true,
      maxViewMode: 2,
      language: "fr",
      datesDisabled: [
      <% @bookings.each do |booking| %>
      '<%= booking.start_date.to_date + 7.day %>',
      <% weeks = (booking.end_date.to_date - booking.start_date.to_date)/7 %>
      <% date = booking.start_date.to_date + 7.day %>
      <% (weeks.to_i - 1).times do %>
      <% date += 7.day %>
      '<%= date %>',
      <% end %>
      <% end %>
      ]
    });
  });

  $('#flat-calendar').fullCalendar({
    viewRender: function(view,element) {
      var now = new Date();
      var end = new Date();
      end.setMonth(now.getMonth() + 12); //Adjust as needed

      if ( end < view.end) {
        $("#calendar .fc-next-button").hide();
        return false;
      }
      else {
        $("#calendar .fc-next-button").show();
      }

      if ( view.start < now) {
        $("#calendar .fc-prev-button").hide();
        return false;
      }
      else {
        $("#calendar .fc-prev-button").show();
      }
    },
    lang: '<%= I18n.locale %>',
    events: [
    <% @bookings.each do |booking| %>
    {
      title: 'Booked - <%= booking.flat.title %>',
      start: '<%= booking.start_date %>',
      end: '<%= booking.end_date %>'
    },
    <% end %>
    ],
  });
</script>
<% end %>

