<div class="container">
  <div class="media">
    <div class="media-body">
      <div class="media-section">
        <h2><%= @flat.title %></h2>
        <% if @flat.banner_photo %>
        <%= cl_image_tag @flat.banner_photo.path, crop: :fill %>
        <% else %>
        <%= image_tag "background.jpg" %>
        <% end %>
      </div>
      <div class="media-section">
        <h2>Description</h2>
        <p><%= @flat.description %></p>
        <ul>
          <li>Sleeps <%= @flat.capacity %> people</li>
          <li><%= @flat.bathroom %> bathroom</li>
          <li><%= @flat.toilet %> toilet</li>
        </ul>
      </div>
    </div>
    <div class="media-aside">
      <div class="media-section">
        <h2>Book it</h2>
        <% if user_signed_in? %>
        <%= form_for [@flat, @flat.bookings.build], class: 'form form-inline' do |f| %>
        <div class="input-daterange input-group">
          <%= f.date_field :start_date, class: 'input-sm form-control' %>
          <span class="input-group-addon">to</span>
          <%= f.date_field :end_date, class: 'input-sm form-control' %>
        </div>
        <%= f.submit "Book now", class: "btn btn-primary", id: "book-button" %>
        <% end %>
        <% else %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-primary" %>
        <% end %>
        <div class="flat-calendar">
          <%= month_calendar events: @flat.bookings do |date, bookings| %>
          <%= date.day %>
          <% bookings.each do |booking| %>
          <div>
            <% booking.start_date %>
            <p>Booked</p>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? && current_user.admin %>
  <%= link_to "EDIT", edit_flat_path(@flat) %>
  <% end %>
</div>
