<div class="container-fluid">
  <div class="row media-body">
    <div class="col-xs-12 col-md-8 col-sm-8">
      <div class="flat-intro">
        <h2><%= @flat.title %></h2>
        <% if @flat.carousel_photos && @flat.banner_photo %>
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <% @flat.carousel_photos.each_with_index do |photo, index| %>
            <li data-target="#carousel" data-slide-to="<%= (index+1) %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active carousel-image">
              <%= cl_image_tag @flat.banner_photo.path %>
            </div>
            <% @flat.carousel_photos.each do |photo| %>
            <div class="item carousel-image">
              <%= cl_image_tag photo.path %>
            </div>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <% end %>
      </div>

      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#description" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
          <li role="presentation"><a href="#pictures" aria-controls="profile" role="tab" data-toggle="tab">Pictures</a></li>
          <li role="presentation"><a href="#calendar" aria-controls="profile" role="tab" data-toggle="tab">Calendar</a></li>
          <li role="presentation"><a href="#prices" aria-controls="messages" role="tab" data-toggle="tab">Prices</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="description">
            <div class="media-section">
              <p><%= @flat.description %></p>
              <div class="row">
                <div class="col-xs-3">
                  <p><strong>Flat:</strong></p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-bed fa-fw" aria-hidden="true"></i> <%= @flat.bedrooms %> Bedroom</p>
                  <p><i class="fa fa-bath fa-fw" aria-hidden="true"></i> <%= @flat.bathroom %> Bathroom</p>
                  <p><i class="fa fa-bath fa-fw" aria-hidden="true"></i> <%= @flat.toilet %> Toilet</p>
                  <p><i class="fa fa-eye fa-fw" aria-hidden="true"></i> Balcony</p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> Kitchen</p>
                  <p><i class="fa fa-television fa-fw" aria-hidden="true"></i> Living room</p>
                  <p><i class="fa fa-car fa-fw" aria-hidden="true"></i> Garage</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                  <p><strong>Amenities:</strong></p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-wifi fa-fw" aria-hidden="true"></i> WI-FI</p>
                  <p><i class="fa fa-television fa-fw" aria-hidden="true"></i> TV</p>
                  <p><i class="fa fa-bed fa-fw" aria-hidden="true"></i> <%= @flat.beds %> Beds</p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> Oven</p>
                  <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> Dishwasher</p>
                  <p><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> Fridge</p>
                </div>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="pictures">
            <div class="row">
              <div class='list-group gallery'>
                <% @flat.photos.each do |photo| %>
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                  <a class="thumbnail fancybox" rel="gallery" href="<%= cl_image_path photo.path, width: 800, height: 600, crop: :fill %>">
                    <%= cl_image_tag photo.path, class: "img-responsive" %>
                  </a>
                </div>
                <% end %>
              </div> <!-- list-group / end -->
            </div> <!-- row / end -->
          </div>

          <div role="tabpanel" class="tab-pane flat-calendar" id="calendar">
            <h4>Click to select a month</h4>
            <div class="flat-calendar" id="flat-calendar">
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="prices">
            <div class="flat-prices">
              <h4>Seasonal pricing</h4>
              <div class="row pricing-container">
                <div class="col-xs-3">
                  <p><strong>Low season</strong></p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-money fa-fw" aria-hidden="true"></i> <%= humanized_money_with_symbol(350) %>/week</p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 07/01/17 - 01/04/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 04/11/17 - 23/12/17</p>
                </div>
              </div>
              <div class="row pricing-container">
                <div class="col-xs-3">
                  <p><strong>Mid season</strong></p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-money fa-fw" aria-hidden="true"></i> <%= humanized_money_with_symbol(500) %>/week</p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 31/12/16 - 07/01/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 01/04/17 - 10/06/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 16/09/17 - 04/11/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 23/12/17 - 30/12/17</p>
                </div>
              </div>
              <div class="row pricing-container">
                <div class="col-xs-3">
                  <p><strong>High mid season</strong></p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-money fa-fw" aria-hidden="true"></i> <%= humanized_money_with_symbol(650) %>/week</p>
                  <p> </p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 10/06/17 - 01/07/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 02/09/17 - 16/09/17</p>
                </div>
              </div>
              <div class="row pricing-container">
                <div class="col-xs-3">
                  <p><strong>Mid high season</strong></p>
                </div>
                <div class="col-xs-4">
                  <p> </p>
                  <p><i class="fa fa-money fa-fw" aria-hidden="true"></i> <%= humanized_money_with_symbol(800) %>/week</p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 01/07/17 - 15/07/17</p>
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 19/08/17 - 02/09/17</p>
                </div>
              </div>
              <div class="row pricing-container">
                <div class="col-xs-3">
                  <p><strong>High season</strong></p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-money fa-fw" aria-hidden="true"></i> <%= humanized_money_with_symbol(950) %>/week</p>
                </div>
                <div class="col-xs-4">
                  <p><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 15/07/17 - 19/08/17</p>
                </div>
              </div>
            </div>
            <% if user_signed_in? && current_user.admin %>
            <%= link_to "Modifier", edit_flat_path(@flat), class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="booking-action fixed-action hidden-xs">
        <h2>Booking request</h2>
        <% if user_signed_in? %>
        <p>Our bookings are from <strong>saturday to saturday</strong> every week, with arrival time between 14:00 and 18:00.</p>
        <p class="booking-extra-info"><i class="fa fa-info-circle"></i> It is possible to arrive outside of our standard arrival date or time for a small additional fee on the week price</p>
        <%= simple_form_for [@flat, @flat.bookings.build] do |f| %>
        <div class="text-center">
          <div class="input-daterange input-group" id="datepicker">
            <input required name="booking[start_date]" type="text" class='datepicker input-sm form-control from' placeholder="From">
            <span class="input-group-addon">to</span>
            <input required name="booking[end_date]" type="text" class='datepicker input-sm form-control until' placeholder="Until">
          </div>

          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          Book
          <% end %>
          <% end %>
          <% else %>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="booking-action hidden-sm hidden-md hidden-lg">
        <h2>Booking request</h2>
        <% if user_signed_in? %>
        <p>Our bookings are from <strong>saturday to saturday</strong> every week, with arrival time between 14:00 and 18:00.</p>
        <p class="booking-extra-info"><i class="fa fa-info-circle"></i> It is possible to arrive outside of our standard arrival date or time for a small additional fee on the week price</p>
        <%= simple_form_for [@flat, @flat.bookings.build] do |f| %>
        <div class="text-center">
          <div class="input-daterange input-group" id="datepicker">
            <input name="booking[start_date]" type="text" class='datepicker input-sm form-control from' placeholder="From">
            <span class="input-group-addon">to</span>
            <input name="booking[end_date]" type="text" class='datepicker input-sm form-control until' placeholder="Until">
          </div>

          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          Book
          <% end %>
          <% end %>
          <% else %>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">

  $(document).ready(function(){

    $('.datepicker.from').datepicker({
      format: "yyyy-mm-dd",
      daysOfWeekDisabled: "0,1,2,3,4,5",
      daysOfWeekHighlighted: "6",
      todayHighlight: true,
      datesDisabled: [
      <% @bookings.each do |booking| %>
      '<%= booking.start_date %>',
      <% weeks = (booking.end_date.to_date - booking.start_date.to_date)/7 %>
      <% date = booking.start_date.to_date %>
      <% (weeks.to_i - 1).times do %>
      <% date += 7.day %>
      '<%= date %>',
      <% end %>
      <% end %>
      ]
    });
    $('.datepicker.until').datepicker({
      format: "yyyy-mm-dd",
      daysOfWeekDisabled: "0,1,2,3,4,5",
      daysOfWeekHighlighted: "6",
      todayHighlight: true,
      datesDisabled: [
      <% @bookings.each do |booking| %>
      '<%= booking.start_date.to_date + 7.day %>',
      <% weeks = (booking.end_date.to_date - booking.start_date.to_date)/7 %>
      <% date = booking.start_date.to_date + 7.day %>
      <% (weeks.to_i - 1).times do %>
      <% date += 7.day %>
      '<%= date %>',
      <% end %>
      <% end %>
      ]
    });
  });

  $(".fancybox").fancybox({
    openEffect  : 'none',
    closeEffect : 'none'
  });

  $('#flat-calendar').fullCalendar({
    viewRender: function(view,element) {
      var now = new Date();
      var end = new Date();
      end.setMonth(now.getMonth() + 12); //Adjust as needed

      if ( end < view.end) {
        $("#calendar .fc-next-button").hide();
        return false;
      }
      else {
        $("#calendar .fc-next-button").show();
      }

      if ( view.start < now) {
        $("#calendar .fc-prev-button").hide();
        return false;
      }
      else {
        $("#calendar .fc-prev-button").show();
      }
    },
    events: [
    <% @bookings.each do |booking| %>
    {
      title: 'Booked - <%= booking.flat.title %>',
      start: '<%= booking.start_date %>',
      end: '<%= booking.end_date %>'
    },
    <% end %>
    ],
  });
</script>
<% end %>
