<div class="container">
  <div class="media">
    <div class="media-body">
      <div class="media-section">
        <h2><%= @flat.title %></h2>
        <% if @flat.banner_photo %>
        <%= cl_image_tag @flat.banner_photo.path, crop: :fill %>
        <% else %>
        <%= image_tag "background.jpg" %>
        <% end %>
      </div>
      <div class="media-section">
        <h2>Description</h2>
        <p><%= @flat.description %></p>
        <ul>
          <li>Sleeps <%= @flat.capacity %> people</li>
          <li><%= @flat.bathroom %> bathroom</li>
          <li><%= @flat.toilet %> toilet</li>
        </ul>
      </div>
    </div>
    <div class="media-aside">
      <div class="media-section">
        <h2>Book it</h2>
        <% if user_signed_in? %>
        <%= simple_form_for [@flat, @flat.bookings.build] do |f| %>

        <div class="input-daterange input-group" id="datepicker">
          <input name="booking[start_date]" type="text" class='datepicker input-sm form-control' placeholder="From">
          <span class="input-group-addon">to</span>
          <input name="booking[end_date]" type="text" class='datepicker input-sm form-control' placeholder="Until">
        </div>

        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <p>Book</p>
        <% end %>
        <% end %>
        <% else %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-primary" %>
        <% end %>
        <div class="flat-prices">
          <h3>Seasonal prices</h3>
          <ul>
            <li class="price">Low season (oct. 1st - dec. 16th) <strong>300€/week</strong></li>
            <li class="price">Mid season (dec. 17th - jan. 6th) <strong>430€/week</strong></li>
            <li class="price">Low season (jan. 7th - mar. 31st) <strong>250€/week</strong></li>
            <li class="price">Low season (apr. 1st - jun. 9th) <strong>360€/week</strong></li>
            <li class="price">Mid season (jun. 10th - jun. 30th) <strong>465€/week</strong></li>
            <li class="price">Season (jul. 1st - jul. 14th) <strong>570€/week</strong></li>
            <li class="price">High Season (aug. 19th - sept. 1st) <strong>570€/week</strong></li>
          </ul>
        </div>
        <div class="flat-calendar " id="flat_calendar">
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? && current_user.admin %>
  <%= link_to "EDIT", edit_flat_path(@flat) %>
  <% end %>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">

  $(document).ready(function(){
    $('.datepicker .input-daterange').datepicker({
      format: "yyyy-mm-dd",
      daysOfWeekDisabled: "0,1,2,3,4,5",
      daysOfWeekHighlighted: "6",
      todayHighlight: true
    });
  });
</script>
<% end %>
