<div class="product">
  <div class='product-upvote'>
    <div><i class="fa fa-calendar"></i></div>
    <div class='product-count'><%= booking.start_date %></div>
  </div>
  <% if booking.flat.banner_photo %>
  <%= cl_image_tag booking.flat.banner_photo.path, class: "product-image hidden-xs" %>
  <% else %>
  <%= image_tag "background.jpg", class: "product-image hidden-xs" %>
  <% end %>
  <div class='product-body'>
    <% if booking.user.admin == true %>
    <p><%= booking.flat.title %></p>
    <p><%= booking.message %></p>
    <p><%= l(booking.start_date.to_date) %> - <%= l(booking.end_date.to_date) %></p>
    <% else %>
    <p><%= booking.flat.title %></p>
    <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
    <p><%= booking.user.phone %></p>
    <p><%= booking.user.email %></p>
    <p><%= booking.message %></p>
    <p><%= l(booking.start_date.to_date) %> - <%= l(booking.end_date.to_date) %></p>
    <p><%= humanized_money_with_symbol(booking.price_cents) %></p>
    <% end %>
    <% if booking.user.admin == true %>
    <p><i class="fa fa-user" aria-hidden="true"></i> ADMIN BOOKING</p>
    <% elsif booking.order.state == "pending"%>
    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= t("booking.not_paid") %></p>
    <% elsif booking.order.state == "paid"%>
    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> <%= t("booking.paid") %></p>
    <% end %>
  </div>
  <div class="request-buttons full-width-controls">
    <% if booking.status == "confirmed" && booking.order.state == "pending" || booking.user.admin == true && booking.status != "cancelled" %>
    <%= link_to 'Edit', edit_booking_path(booking), class: "btn btn-info btn-xs" %>
    <%= link_to 'Cancel', cancelled_booking_booking_path(booking), data: { confirm: 'Cancel?' }, method: :patch, class: "btn btn-danger btn-xs" %>
    <%= link_to "User", booking_path(booking), class: "btn btn-success btn-xs" %>

    <% elsif booking.status == 'cancelled' %>
    <%= link_to 'Delete', booking_path(booking), data: { confirm: 'Delete?' }, method: :delete, class: "btn btn-danger btn-xs" %>
    <% end %>
  </div>
</div>
