<div class="product">
  <div class='product-upvote'>
    <div><i class="fa fa-calendar"></i></div>
    <div class='product-count'><%= booking.start_date %></div>
  </div>
  <% if booking.flat.banner_photo %>
  <%= cl_image_tag booking.flat.banner_photo.path, class: "product-image hidden-xs" %>
  <% else %>
  <%= image_tag "background.jpg", class: "product-image hidden-xs" %>
  <% end %>
  <div class='product-body'>
    <p><%= booking.flat.title %></p>
    <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
    <p><%= booking.user.email %></p>
    <p><%= booking.message %></p>
    <p><%= l(booking.start_date.to_date) %> - <%= l(booking.end_date.to_date) %></p>
    <p><%= humanized_money_with_symbol(booking.price_cents) %></p>
    <% if booking.order.state == "pending"%>
    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= t("booking.not_paid") %></p>
    <% elsif booking.order.state == "paid"%>
    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> <%= t("booking.paid") %></p>
    <% end %>
  </div>
  <ul class="list-inline product-controls">
    <%= link_to booking_path(booking) do %>
    <li><i class="fa fa-info-circle"></i></li>
    <% end %>
  </ul>
</div>
