<div class="product product-bordered">
  <div class='product-upvote'>
    <div><i class="fa fa-calendar"></i></div>
    <div class='product-count'><%= l(booking.start_date.to_date) %></div>
  </div>
  <% if booking.flat.banner_photo %>
  <%= cl_image_tag booking.flat.banner_photo.path, class: "product-image hidden-xs" %>
  <% else %>
  <%= image_tag "background.jpg", class: "product-image hidden-xs" %>
  <% end %>
  <div class='product-body'>
  <h4><%= booking.flat.title %></h4>
    <div class="product-body-user">
      <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
      <p><%= booking.user.phone %></p>
      <p><%= booking.user.email %></p>
    </div>
    <p><%= booking.message %></p>
    <p><%= l(booking.start_date.to_date) %> - <%= l(booking.end_date.to_date) %></p>
    <h4><%= humanized_money_with_symbol(booking.price_cents) %></h4>
  </div>
  <div class="request-buttons full-width-controls">
    <%= link_to 'Confirm', booking_status_booking_path(booking), data: { confirm: 'Confirm?' }, method: :patch, class: "btn btn-primary btn-xs" %>
    <%= link_to 'Edit', edit_booking_path(booking), class: "btn btn-info btn-xs" %>
    <%= link_to 'Cancel', cancelled_booking_booking_path(booking), data: { confirm: 'Cancel?' }, method: :patch, class: "btn btn-danger btn-xs" %>
  </div>
</div>
