<div class="container">
  <h1>Edit booking of <%= @booking.user.first_name %> <%= @booking.user.last_name %> (<%= @booking.start_date %> - <%= @booking.end_date %>)</h1>
  <%= simple_form_for @booking do |f| %>
  <%= f.association :flat %>
  <%= f.input :price_cents, as: :integer %>
  <div class="input-daterange input-group" id="datepicker">
    <input required name="booking[start_date]" type="text" class='datepicker input-sm form-control from' placeholder="From">
    <span class="input-group-addon">to</span>
    <input required name="booking[end_date]" type="text" class='datepicker input-sm form-control until' placeholder="Until">
  </div>
  <%= f.button :submit %>
  <% end %>
</div>
