<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">Bookings requests</a></li>
    <li role="presentation"><a href="#leport" aria-controls="leport" role="tab" data-toggle="tab">Le Port</a></li>
    <li role="presentation"><a href="#laplage" aria-controls="laplage" role="tab" data-toggle="tab">La Plage</a></li>
    <li role="presentation"><a href="#all-confirmed" aria-controls="all-confirmed" role="tab" data-toggle="tab">All confirmed</a></li>
    <li role="presentation"><a href="#all-cancelled" aria-controls="all-cancelled" role="tab" data-toggle="tab">All cancelled</a></li>
    <li role="presentation"><a href="#all-unpaid" aria-controls="all-unpaid" role="tab" data-toggle="tab">All unpaid</a></li>
    <li role="presentation"><a href="#all-users" aria-controls="all-users" role="tab" data-toggle="tab">USERS</a></li>
    <li role="presentation"><a href="#all-admin" aria-controls="all-admin" role="tab" data-toggle="tab">ADMIN</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="bookings">
      <% @unconfirmed.each do |booking| %>
      <%= render "booking-request-card", booking: booking %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="leport">
      <h3>Requests</h3>
      <% @bookings_leport.where(status: "unconfirmed").each do |booking| %>
      <%= render "booking-request-card", booking: booking %>
      <% end %>
      <h3>Confirmed</h3>
      <% @bookings_leport.where(status: "confirmed").each do |booking| %>
      <%= render "booking-confirmed", booking: booking %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="laplage">
      <h3>Requests</h3>
      <% @bookings_laplage.where(status: "unconfirmed").each do |booking| %>
      <%= render "booking-request-card", booking: booking %>
      <% end %>
      <h3>Confirmed</h3>
      <% @bookings_laplage.where(status: "confirmed").each do |booking| %>
      <%= render "booking-confirmed", booking: booking %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="all-confirmed">
      <% @confirmed.each do |booking| %>
      <%= render "booking-confirmed", booking: booking %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="all-cancelled">
      <% @cancelled.each do |booking| %>
      <%= render "booking-confirmed", booking: booking %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="all-unpaid">
      <% @confirmed.each do |booking| %>
      <% if booking.order.state == "pending" %>
      <%= render "booking-confirmed", booking: booking %>
      <% end %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="all-users">
      <% @users_bookings.each do |booking| %>
      <%= render "booking-confirmed", booking: booking %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="all-admin">
      <% @admin_bookings.each do |booking| %>
      <%= render "booking-confirmed", booking: booking %>
      <% end %>
    </div>
  </div>
</div>
