<div class="container">
  <h1>Your booking request</h1>
  <div class="booking">
  <% if @booking.flat.banner_photo %>
    <%= cl_image_tag @booking.flat.banner_photo.path, class: "booking-image" %>
    <% else %>
    <%= image_tag "background.jpg", class: "booking-image" %>
    <% end %>
    <div class='booking-body'>
      <h3><%= @booking.flat.title %></h3>
      <p><%= @booking.status %></p>
      <h2>Amount: <%= humanized_money_with_symbol(@booking.price_cents) %></h2>
      <h2><i class="fa fa-calendar"></i> <%= @booking.start_date %> to <%= @booking.end_date %></h2>
    </div>
  </div>
</div>
