<div class="container booking-container">
  <h2><%= t("booking.your_booking") %></h2>
  <div class="booking">
    <% if @booking.flat.banner_photo %>
    <%= cl_image_tag @booking.flat.banner_photo.path, class: "booking-image" %>
    <% else %>
    <%= image_tag "background.jpg", class: "booking-image" %>
    <% end %>
    <div class='booking-body'>
      <h3><%= @booking.flat.title %></h3>
      <p><%= @booking.message %></p>
      <% if @booking.status == "unconfirmed" %>
      <p><%= t("booking.unconfirmed") %></p>
      <% elsif @booking.status == "confirmed" && @booking.order.state == "pending"%>
      <p><%= t("booking.confirmed") %> | <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
       <%= t("booking.not_paid") %></p>
       <% elsif @booking.status == "confirmed" && @booking.order.state == "paid"%>
       <p><%= t("booking.confirmed") %> | <i class="fa fa-check-circle-o" aria-hidden="true"></i>
         <%= t("booking.paid") %></p>
         <% elsif @booking.status == "cancelled" %>
         <p><%= t("booking.cancelled") %></p>
         <% end %>
         <% if @booking.order.state == "pending" %>
         <h2><%= t("booking.amount") %>: <%= humanized_money_with_symbol(@booking.price_cents) %></h2>
         <% else %>
         <h2><%= t("booking.amount") %>: <%= humanized_money_with_symbol(@booking.order.amount) %></h2>
         <% end %>
         <h2><i class="fa fa-calendar"></i> <%= l(@booking.start_date.to_date) %> <%= t("booking.to") %> <%= l(@booking.end_date.to_date) %></h2>
         <h2><%= (@booking.end_date.to_date - @booking.start_date.to_date).to_i %> <%= t("booking.nights") %></h2>
       </div>
       <div class="booking-controls full-width-controls">
         <%= link_to t("booking.flat"), flat_path(@booking.flat), class: "btn btn-primary" %>
         <a href="mailto:francois@cap-vauban.com" class="btn btn-success"><%= t("shared.email_us") %></a>
         <% if @booking.status == "confirmed" && @booking.order.state == "pending"%>
         <%= form_tag order_payments_path(@order) do %>
         <% if flash[:error].present? %>
         <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
        <% end %>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="<%= t('booking.payment_title') %>"
        data-description="<%= l(@booking.start_date.to_date) %> <%= t("booking.to") %> <%= l(@booking.end_date.to_date) %>"
        data-currency="<%= @order.amount.currency %>"
        data-locale="auto"
        data-image="<%= image_path("favicon.png") %>">
      </script>
      <p>
       <input class="coupon" type="text" name="couponCode" id="couponCode" placeholder="Coupon">
     </p>
     <div class="terms-info">
       <p><%= t("terms.info") %> <a href="#" data-toggle="modal" data-target="#myModal"><%= t("terms.title") %></a></p>
     </div>
     <% end %>
     <% elsif @booking.status == "confirmed" && @booking.order.state == "paid"%>
     <button class="payment-recieved-button" disabled><i class="fa fa-check-circle-o" aria-hidden="true"></i> <%= t("booking.paid") %></button>
     <% end %>
   </div>
 </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog terms-modal" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "terms" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
