<div class="container booking-container">
  <h2><%= t("booking.your_booking") %></h2>
  <div class="booking">
    <% if @booking.flat.banner_photo %>
    <%= cl_image_tag @booking.flat.banner_photo.path, class: "booking-image" %>
    <% else %>
    <%= image_tag "background.jpg", class: "booking-image" %>
    <% end %>
    <div class='booking-body'>
      <h3><%= @booking.flat.title %></h3>
      <p><%= @booking.message %></p>
      <% if @booking.status == "unconfirmed" %>
      <p><%= t("booking.unconfirmed") %></p>
      <% elsif @booking.status == "confirmed" %>
      <p><%= t("booking.confirmed") %></p>
      <% elsif @booking.status == "cancelled" %>
      <p><%= t("booking.cancelled") %></p>
      <% end %>
      <h2><%= t("booking.amount") %>: <%= humanized_money_with_symbol(@booking.price_cents) %></h2>
      <h2><i class="fa fa-calendar"></i> <%= @booking.start_date %> <%= t("booking.to") %> <%= @booking.end_date %></h2>
      <h2><%= (@booking.end_date.to_date - @booking.start_date.to_date).to_i %> <%= t("booking.nights") %></h2>
    </div>
    <div class="booking-controls">
      <%= link_to t("booking.flat"), flat_path(@booking.flat), class: "btn btn-primary" %>
      <% if @booking.status == "confirmed" %>
      <%= form_tag order_payments_path(@order) do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="Payment"
      data-description="Booking <%= @booking.start_date %> <%= t("booking.to") %> <%= @booking.end_date %>"
      data-amount="<%= @order.amount_cents %>"
      data-currency="<%= @order.amount.currency %>">
    </script>

    <% end %>
    <% end %>
  </div>
</div>
</div>
