<div class="container-fluid booking-container" style="background-color: aliceblue;">
  <div class="row">
    <div class="text-center">
      <h2><%= t("suggestions.phrase") %></h2>
    </div>
    <div class="col-xs-12 col-md-7 suggestions-container">
      <% @suggestions.each do |suggestion| %>
      <div class="product">
        <% if suggestion.photo %>
        <%= cl_image_tag suggestion.photo.path, class: "product-image hidden-xs" %>
        <% else %>
        <%= image_tag "background.jpg", class: "product-image hidden-xs" %>
        <% end %>
        <div class='product-body'>
          <h3><%= suggestion.title %></h3>
          <% if I18n.locale == I18n.default_locale %>
          <p><%= suggestion.content %></p>
          <% else %>
          <p><%= suggestion.content_english %></p>
          <%end%>
s          <p><i class="fa fa-map-marker"></i> <%= suggestion.address %></p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <% if user_signed_in? && current_user.admin %>
          <li>
            <%= link_to edit_suggestion_path(suggestion) do %>
            <i class="fa fa-wrench"></i>
            <% end %>
          </li>
          <li>
            <%= link_to suggestion_path(suggestion), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
            <% end %>
          </li>
          <% end %>
          <% if suggestion.link %>
          <li><a href="<%= suggestion.link %>" target="blank"><i class="fa fa-info-circle"></i></a></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <% if user_signed_in? && current_user.admin %>
      <%= link_to "New suggestion", new_suggestion_path, class: "btn btn-primary" %>
      <% else %>
      <a href="mailto:francois@cap-vauban.com" class="btn btn-primary"><%= t("suggestions.proposition") %></a>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-5">
      <div id="map" class="suggestion-map" class="hidden-xs"></div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">

  $(document).ready(function(){

    var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
    handler.buildMap({ internal: { id: 'map' } }, function(){
     markers = handler.addMarkers([
      <% @suggestions.each do |suggestion| %>
      {
        "lat": <%= suggestion.latitude %>,
        "lng": <%= suggestion.longitude %>,
        "infowindow": "<h4><%= suggestion.title %></h4>"
      },
      <% end %>
      ]);
     handler.bounds.extendWith(markers);
     handler.fitMapToBounds();
   });
  });

</script>
<% end %>

